/* -----------------------------------------
   ANIMATION Styles
----------------------------------------- */

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -webkit-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -webkit-transform: translateX(800%) rotate(360deg); }
}

@-moz-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -moz-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -moz-transform: translateX(800%) rotate(360deg); }
}

@-o-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -o-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -o-transform: translateX(800%) rotate(360deg); }
}

@keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; transform: translateX(800%) rotate(360deg); }
}

.roll {
    -webkit-animation-name: roll;
    -moz-animation-name: roll;
    -o-animation-name: roll;
    animation-name: roll;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(5px); }
}

@-moz-keyframes shake {
    0%, 100% { -moz-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -moz-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -moz-transform: translateX(5px); }
}

@-o-keyframes shake {
    0%, 100% { -o-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -o-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -o-transform: translateX(5px); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes animate-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px -300px;
    }
}

@-moz-keyframes animate-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px -300px;
    }
}

@-o-keyframes animate-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px -300px;
    }
}

@keyframes animate-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px -300px;
    }
}

.bounce {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: scale(1.1); opacity: 1 }
    50% { -webkit-transform: scale(1.6); opacity: .7; }
    60% { -webkit-transform: scale(0.6); opacity: 1 }
    80% { -webkit-transform: scale(0.95) }
    100% { -webkit-transform: scale(0.85) }
}

@-moz-keyframes bounce {
    0% { -moz-transform: scale(1.1); opacity: 1 }
    50% { -moz-transform: scale(1.6); opacity: .7; }
    60% { -moz-transform: scale(0.6); opacity: 1 }
    80% { -moz-transform: scale(0.95) }
    100% { -moz-transform: scale(0.85) }
}

@-o-keyframes bounce {
    0% { -o-transform: scale(1.1); opacity: 1 }
    50% { -o-transform: scale(1.6); opacity: .7; }
    60% { -o-transform: scale(0.6); opacity: 1 }
    80% { -o-transform: scale(0.95) }
    100% { -o-transform: scale(0.85) }
}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.6); opacity: .7; }
    60% { transform: scale(0.6); opacity: 1 }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.85) }
}