/* -----------------------------------------
   ANIMATION Styles
----------------------------------------- */

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -webkit-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -webkit-transform: translateX(800%) rotate(360deg); }
}

@-moz-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -moz-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -moz-transform: translateX(800%) rotate(360deg); }
}

@-o-keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; -o-transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; -o-transform: translateX(800%) rotate(360deg); }
}

@keyframes roll {
    0% { opacity: 1; }
    15% { opacity: 1; margin-top: -25px; margin-bottom: 25px; }
    30% { opacity: 1; margin-top: 5px; margin-bottom: -5px; }
    33% { opacity: 1; margin-top: 0; margin-bottom: 0; transform: translateX(0%) rotate(0); }
    75% { opacity: 0.5; }
    100% { opacity: 0; display: none; transform: translateX(800%) rotate(360deg); }
}

.roll {
    -webkit-animation-name: roll;
    -moz-animation-name: roll;
    -o-animation-name: roll;
    animation-name: roll;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(5px); }
}

@-moz-keyframes shake {
    0%, 100% { -moz-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -moz-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -moz-transform: translateX(5px); }
}

@-o-keyframes shake {
    0%, 100% { -o-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -o-transform: translateX(-5px); }
    20%, 40%, 60%, 80% { -o-transform: translateX(5px); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}