/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #C41E3A; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

.row {
    width: 940px;
    margin-bottom: 20px;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: white;
    background-image: url(/media/images/pattern.png);
    background-position: 0 0, 0 0;
    background-repeat: repeat, no-repeat;
}

body#landingpage {
    background-image: url(/media/images/pattern.png),
    -webkit-radial-gradient(50% 0%, 10000px 1400px, rgba(255, 255, 255, 1.0) 50%, rgba(120, 120, 120, 0.2) 100%);
    background-image: url(/media/images/pattern.png),
    -moz-radial-gradient(50% 0%, circle, rgba(255, 255, 255, 1.0) 50%, rgba(120, 120, 120, 0.2) 100%);
    background-image: url(/media/images/pattern.png),
    -o-radial-gradient(50% 0%, 10000px 1400px, rgba(255, 255, 255, 1.0) 50%, rgba(120, 120, 120, 0.2) 100%);
    background-image: url(/media/images/pattern.png),
    radial-gradient(50% 0%, 10000px 1400px, rgba(255, 255, 255, 1.0) 50%, rgba(120, 120, 120, 0.2) 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

a {
    color: #C41E3A;
}

a:hover {
    color: #B11B34;
}

.red {
    color: #C41E3A;
}

input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 !important;
    outline: thin dotted 9px !important;
}

/* -----------------------------------------
   TOPBAR STYLES
----------------------------------------- */

#topbar {
    width: 100%;
    height: 65px;
    background-color: #C41E3A;
    margin: 0;
}

#topbar:hover {
    background-color: #B11B34;
}

#topbar h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 3.6rem;
}

/* -----------------------------------------
   TITLE STYLES
----------------------------------------- */

#title {
    margin-top: 5rem;
}

#title h1, #title h2, #title h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#title h1 {
    text-transform: uppercase;
    font-size: 10rem;
    line-height: 0.75;
}

#title h2 {
    font-size: 6.153846154rem;
    /*margin-bottom: 3.153846154rem;*/
}

#title h3 {
    font-size: 3.3rem;
    margin-bottom: 3rem;
}

.title h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6.972900391rem;
    margin-top: 6.153846154rem;
    margin-bottom: 2.640625rem;
}

/* -----------------------------------------
   APPLY BUTTON STYLES
----------------------------------------- */

.button.apply {
    width: 100%;
    background-color: #C41E3A !important;
    font-size: 4.291015625rem;
    padding: 25px;
}

.button.apply:hover {
    background-color: #B11B34 !important;
}

.button.apply.last {
    margin-bottom: 11.330963135rem;
}

/* -----------------------------------------
   LESSON BUTTON STYLES
----------------------------------------- */

.button.lessons {
    width: 100%;
    background-color: #1E8DC4 !important;
    font-size: 4.291015625rem;
    padding: 25px;
}

.button.lessons:hover {
    background-color: #1A7CAC !important;
}

/* -----------------------------------------
   TOP INFO STYLES
----------------------------------------- */

#info {
    margin-top: 6.153846154rem;
}

#info h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#info p {
    font-size: 2rem;
}

/* -----------------------------------------
   COURSE TOPICS STYLES
----------------------------------------- */

.topics .columns {
    text-align: center;
    margin-top: 15px;
}

.topics img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: visible;
}

/* -----------------------------------------
   FAQ STYLES
----------------------------------------- */

#faq h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#faq p {
    font-size: 2.640625rem;
    line-height: 3.8rem;
    margin-bottom: 4.291015625rem;
}

#faq p:last-child {
    margin-bottom: 0;
}

/* -----------------------------------------
   TEAM STYLES
----------------------------------------- */

#team {
    text-align: center;
}

#team h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#team h3 a {
    color: inherit;
}

#team h3 a:hover {
    color: #C41E3A;
}

#team img.photo {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 80%;
}

#team img.logo {
    width: 80% !important;
    padding-top: 10px;
}

/* -----------------------------------------
   CONTACT STYLES
----------------------------------------- */

#contactus {
    margin-bottom: 6.972900391rem;
}

#contactus h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#contactus h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    color: #666;
    margin-top: 1rem;
}

/* -----------------------------------------
   APPLICATION STYLES
----------------------------------------- */

.app-wrapper {
    display: none;
}

.application {
    background-image: url('/media/images/linen.png');
    margin-top: 50px;
    padding: 50px!important;
    -moz-box-shadow:    inset 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
}

.application .page {
    background-color: #fff;
    padding: 40px 80px 40px;

    -moz-box-shadow:    0px 10px 20px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 10px 20px 0px rgba(0, 0, 0, 0.6);
}

.application h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
    margin-bottom: 80px;
    line-height: 1.3;
}

.application label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.640625rem;
    line-height: 3.7rem;
    font-weight: 700;
}

.application small {
    font-size: 1.625rem;
    line-height: 2.6rem;
    margin-bottom: 1.625rem;
    padding-left: 0;
    color: #666;
    display: block;
}

.application input[type=text], .application input[type=checkbox], .application textarea {
    font-size: 1.625rem;
    line-height: 2.6rem;
    margin-bottom: 2.640625rem;
    padding: 5px;
}

.application input[type=checkbox] {
  -ms-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
  padding: 10px;
  position: relative;
  top: -5px;
}

.application label.checkbox {
    font-size: 2rem;
    padding-left: 10px;
    display: inline-block;
}

.application textarea {
    height: 150px;
}

.application small.error {
    background-color: #C41E3A !important;
    color: #fff !important;
    padding-left: 10px !important;
    margin-top: 0 !important;
}

.application .error input, .application .error textarea {
    margin-bottom: 0;
}

.application .error small {
    background-color: inherit;
    color: #C41E3A;
}

.fb-like {
    margin-top: 20px;
}

/* -----------------------------------------
   ANIMATION Styles
----------------------------------------- */

.bounce {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: scale(1.1); opacity: 1 }
    50% { -webkit-transform: scale(1.6); opacity: .7; }
    60% { -webkit-transform: scale(0.6); opacity: 1 }
    80% { -webkit-transform: scale(0.95) }
    100% { -webkit-transform: scale(0.85) }
}

@-moz-keyframes bounce {
    0% { -moz-transform: scale(1.1); opacity: 1 }
    50% { -moz-transform: scale(1.6); opacity: .7; }
    60% { -moz-transform: scale(0.6); opacity: 1 }
    80% { -moz-transform: scale(0.95) }
    100% { -moz-transform: scale(0.85) }
}

@-o-keyframes bounce {
    0% { -o-transform: scale(1.1); opacity: 1 }
    50% { -o-transform: scale(1.6); opacity: .7; }
    60% { -o-transform: scale(0.6); opacity: 1 }
    80% { -o-transform: scale(0.95) }
    100% { -o-transform: scale(0.85) }
}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.6); opacity: .7; }
    60% { transform: scale(0.6); opacity: 1 }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.85) }
}

/* -----------------------------------------
   RESPONSIVE STYLES
----------------------------------------- */

/* iPad Portrait View */

@media only screen and (max-width: 768px) {
    #topbar {
        height: 110px;
    }

    #title h1 {
        font-size: 9rem;
        line-height: 9rem;
    }

    #title h3 {
        font-size: 4.291015625rem;
        line-height: 6rem;
    }

    .application {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .application .page {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* iPhone Landscape View */

@media only screen and (max-width: 480px) {
    html {
        width: 100%;
        margin: 0 !important;
    }

    #title {
        margin-top: 4.291015625rem;
    }

    #title h1 {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }

    #title h2 {
        font-size: 4.291015625rem;
        line-height: 1;
        margin-bottom: 4.291015625rem;
    }

    #title h3 {
        font-size: 2.640625rem;
        line-height: 1.4;
        margin-bottom: 2.640625rem;
    }

    .topics .columns {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #faq p {
        font-size: 1.625rem;
        line-height: 2.4rem;
    }

    #team img {
        width: 60% !important;
    }

    #team .logo {
        margin-bottom: 50px;
    }

    .application {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .application .page {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .application h3 {
        font-size: 2.640625rem;
        line-height: 1.4;
        margin-bottom: 2.640625rem;
    }

    .application .apply {
        font-size: 2.640625rem;
    }
}

/* iPhone Portrait View */

@media only screen and (max-width: 340px) {
    #title h1 {
        font-size: 6.972900391rem;
        line-height: 6.972900391rem;
    }
}

/* END SPACING */