/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #c60f13; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

.row { width: 940px; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 11.330963135rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 !important;
    outline: thin dotted 9 !important;
}

/* -----------------------------------------
   FOOTER STYLES
----------------------------------------- */

footer {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

/* -----------------------------------------
   HOMEPAGE STYLES
----------------------------------------- */

#title {
    margin-top: 7rem;
}

#title h1, #title h2, #title h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

#title h1 {
    text-transform: uppercase;
    font-size: 10rem;
    line-height: 0.75;
}

#title h2 {
    font-size: 6.153846154rem;
    margin-bottom: 6.153846154rem;
}

#title h3 {
    font-size: 3.3rem;
    margin-bottom: 3rem;
}

.red {
    color: #C41E3A;
}

.apply button {
    width: 100%;
    background-color: #C41E3A !important;
    font-size: 4.291015625rem;
    padding: 25px;
}

.apply button:hover {
    background-color: #B11B34 !important;
}

#info {
    margin-top: 6.153846154rem;
}

#info h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#info p {
    font-size: 2rem;
}

.title h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6.972900391rem;
    margin-top: 6.153846154rem;
    margin-bottom: 2.640625rem;
}

.topics .columns {
    text-align: center;
}

.topics img {
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
}

#faq h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#faq p {
    font-size: 2.640625rem;
    line-height: 3.8rem;
    margin-bottom: 4.291015625rem;
}

#team {
    text-align: center;
    margin-bottom: 6.972900391rem;
}

#team h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.291015625rem;
}

#team h3 a {
    color: inherit;
}

#team h3 a:hover {
    color: #C41E3A;
}

#team img.photo {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 80%;
}

#team img.logo {
    width: 80%;
    padding-top: 10px;
}

/* -----------------------------------------
   CONTACTUS STYLES
----------------------------------------- */

.contactus input[type=email] {
    height: 50px;
    padding: 17px;
    font-size: 17px;
}

.contactus .thanks {
    font-size: 17px;
    margin-top: 12px;
    vertical-align: top;
    display: inline-block;
}

.contactus .submit_button {
    font-size: 5rem;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    color: #222;
}

.contactus button.interested {
    background-color: #CB1032;
    background-image: -webkit-linear-gradient(top,#DD0F28,#CB1032);
    background-image: -moz-linear-gradient(top,#DD0F28,#CB1032);
    background-image: -ms-linear-gradient(top,#DD0F28,#CB1032);
    background-image: -o-linear-gradient(top,#DD0F28,#CB1032);
    background-image: linear-gradient(top,#DD0F28,#CB1032);

    width: 100%;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    white-space: nowrap;
    cursor: default;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.contactus button.interested:hover {
    background-color: #BF0F2F;
    background-image: -webkit-linear-gradient(top,#DD0F28,#BF0F2F);
    background-image: -moz-linear-gradient(top,#DD0F28,#BF0F2F);
    background-image: -ms-linear-gradient(top,#DD0F28,#BF0F2F);
    background-image: -o-linear-gradient(top,#DD0F28,#BF0F2F);
    background-image: linear-gradient(top,#DD0F28,#BF0F2F);
    border: 1px solid #B80E2D;
}

.contactus button.interested:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #B00E2C;
    background-image: -webkit-linear-gradient(top,#DD0F28,#B00E2C);
    background-image: -moz-linear-gradient(top,#DD0F28,#B00E2C);
    background-image: -ms-linear-gradient(top,#DD0F28,#B00E2C);
    background-image: -o-linear-gradient(top,#DD0F28,#B00E2C);
    background-image: linear-gradient(top,#DD0F28,#B00E2C);
    border: 1px solid #B80E2D;
}

@media only screen and (max-width: 360px) {
    #main {
        width: 100%;
        padding: 20px 0;
    }
}






/* END SPACING */