{# Contact Us Form #}
<div class="contactus row">
    <div class="three columns">
        <button class="interested large button">Interested?</button>
    </div>

    <form action="#" method="post">{% csrf_token %}
        <div class="three columns">
            <input type="email" name="email" placeholder="Email Address" required />
        </div>

        <div class="email_submit six columns">
            <div class="submit_button">
                <i class="enclosed foundicon-mail"></i>
            </div>
        </div>
    </form>
</div>