{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}Web development crash course in 9 weeks. You will learn how to build your own website with HTML, Javascript, and Python.{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<a href="{% url students %}">
    <div id="topbar">
        <div class="row">
            <div class="twelve columns text-center">
                <h3>Congratulations to our accepted students!</h3>
            </div>
        </div>
    </div>
</a>

<div id="title" class="row">
    <div class="twelve columns text-center">
        <h1 class="red">Cardinal Web Dev</h1>
        <h2>Web Development in 9 weeks</h2>
        <h3>
            Learn to build your own website with HTML, Javascript, and Python.<br/>
            You'll build your own Google in no time*
        </h3>
    </div>
</div>

<div class="row">
    <div class="six columns mobile-four centered">
        <button class="button radius alert apply" disabled>Application Over</button>
    </div>
</div>

<div id="info" class="row">
    <div class="four columns">
        <h3>When?</h3>
        <p>Every Tuesday from 7-10pm</p>
    </div>

    <div class="four columns">
        <h3>Where?</h3>
        <p>
            Arrillaga Wellness Room in Arrillaga Dining Hall <br/>
            <a href="http://goo.gl/maps/9ZqU9" target="_blank">http://goo.gl/maps/9ZqU9</a>
        </p>
    </div>

    <div class="four columns">
        <h3>How?</h3>
        <p>
            Apply online, no Axess signup.<br/>
            Due <strong>Monday 1/14 11:59pm</strong>
        </p>
    </div>
</div>

<div id="curriculum" class="row title">
    <div class="twelve columns text-center">
        <h1>Course Topics</h1>
    </div>
</div>

<div class="row topics">
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/html.png" />
        <h3>HTML &amp; CSS</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/js.png" />
        <h3>JavaScript</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/python-icon.png" />
        <h3>Python</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/dj.png" />
        <h3>Django</h3>
    </div>
</div>

<div class="row topics">
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/command-line.png" />
        <h3>Command Line</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/git.png" />
        <h3>Git &amp; GitHub</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/pairing.png" />
        <h3>Pair Programming</h3>
    </div>
    <div class="three columns mobile-two">
        <img src="{{ MEDIA_URL }}images/deploy.png" />
        <h3>Deployment</h3>
    </div>
</div>

<div class="row title">
    <div class="twelve columns text-center">
        <h1>F.A.Q.</h1>
    </div>
</div>

<div id="faq" class="row">
    <div class="twelve columns">
        <h3>What is this class?</h3>
        <p>
            This class is a crash-course on the practical skills needed to build an interactive website. Learn the basics of web development in the real world taught by students who collectively have 10 years of web dev experience and are heavily involved in the startup world. You will learn the fundamentals, get hands-on programming, and build your own projects by the end of the class. <strong>Bring your own computer/charger to class.</strong>
        </p>
        <h3>When is the class taught?</h3>
        <p>
            The class is taught every Tuesday, from 7pm to 10pm. First half will be an interactive lecture and second half will be open time to practice the concepts you've learned.
        </p>
        <h3>Where does the class meet?</h3>
        <p>
            The class will meet in the Arillaga Wellness Room in Arrillaga Dining Hall. It's on the right side from the main entrance. <a href="http://goo.gl/maps/9ZqU9" target="_blank">http://goo.gl/maps/9ZqU9</a>
        </p>
        <p>
            Keep in mind <strong>NO FOOD ALLOWED</strong>, only water.
        </p>
        <h3>How do I get in?</h3>
        <p>
            Apply by the deadline, <strong>Monday 1/14 11:59pm</strong>.
        </p>
        <h3>What is going to be covered?</h3>
        <p>
            We will be covering the broad array of <a href="#curriculum">topics</a> above and more.
        </p>
        <h3>Are there pre-requisites?</h3>
        <p>
            We ask that you've taken at least CS106A, or the equivalent. Because of the short amount of time we have, we're going to focus more on web application specifics rather than general programming skills.<br /><br />
            If you've done the JavaScript or Python courses on <a href="http://www.codecademy.com/" target="_blank">Codecademy</a>, then you're in good shape.
        </p>
        <h3>Are all of the lectures mandatory?</h3>
        <p>
            Yes, you're expected to attend if you're accepted.
        </p>
        <h3>Who is teaching the class?</h3>
        <p>
            See below.
        </p>
    </div>
</div>

<div class="row title">
    <div class="twelve columns text-center">
        <h1>Teachers</h1>
    </div>
</div>

<div id="team" class="row">
    <div class="four columns">
        <img class="photo" src="{{ MEDIA_URL}}images/charlie.jpg" />
        <h3><a href="https://twitter.com/charlierguo" target="_blank">Charlie Guo</a></h3>
        <a href="http://www.palantir.com" target="_blank"><img class="logo" src="{{ MEDIA_URL}}images/palantir.png" /></a>
    </div>
    <div class="four columns">
        <img class="photo" src="{{ MEDIA_URL}}images/kevin.jpg" />
        <h3><a href="https://twitter.com/imkevinxu" target="_blank">Kevin Xu</a></h3>
        <a href="http://designerfund.com/" target="_blank"><img class="logo" src="{{ MEDIA_URL}}images/dfund.png" /></a>
    </div>
    <div class="four columns">
        <img class="photo" src="{{ MEDIA_URL}}images/kingston.jpg" />
        <h3><a href="https://twitter.com/kingstontam" target="_blank">Kingston Tam</a></h3>
        <a href="https://squareup.com/" target="_blank"><img class="logo" src="{{ MEDIA_URL}}images/square.png" /></a>
    </div>
</div>

<div id="contactus" class="row title">
    <div class="twelve columns text-center">
        <h1>Contact Us</h1>
        <h2>
            <a href="mailto:cardinalwebdev-team@lists.stanford.edu" target="_blank">cardinalwebdev-team [at] lists.stanford.edu</a>
        </h2>
        <h6>*Already know Django and want to help teach? Email us!</h6>
    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
