{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="title" class="row">
    <div class="twelve columns text-center">
        <h1 class="red">Cardinal Web Dev</h1>
        <h2>Web Development in 9 weeks</h2>
        <h3>
            Learn to build your own website with HTML, Javascript, and Python.<br/>
            You'll build your own Google in no time*
        </h3>
    </div>
</div>

<div class="row apply">
    <div class="six columns mobile-four centered">
        <button class="button alert">Apply Now</button>
    </div>
</div>

<div id="info" class="row">
    <div class="four columns">
        <h3>When?</h3>
        <p>Every Tuesday from 7-10pm</p>
    </div>

    <div class="four columns">
        <h3>Where?</h3>
        <p>
            Arrillaga Wellness Room in Arrillaga Dining Hall <br/>
            <a href="http://goo.gl/maps/9ZqU9" target="_blank">http://goo.gl/maps/9ZqU9</a>
        </p>
    </div>

    <div class="four columns">
        <h3>How?</h3>
        <p>Apply here, no signing up on Axess</p>
    </div>
</div>

<div class="row title">
    <div class="twelve columns text-center">
        <h1>Course Topics</h1>
    </div>
</div>

<div class="row topics">
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/html.png" />
        <h3>HTML &amp; CSS</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/js.png" />
        <h3>JavaScript</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/python-icon.png" />
        <h3>Python</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/dj.png" />
        <h3>Django</h3>
    </div>
</div>

<div class="row topics">
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/command-line.png" />
        <h3>Command Line</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/git.png" />
        <h3>Git &amp; GitHub</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/pairing.png" />
        <h3>Pair Programming</h3>
    </div>
    <div class="three columns">
        <img src="{{ MEDIA_URL }}images/deploy.png" />
        <h3>Deployment</h3>
    </div>
</div>




{#

{% include 'contactus.html' %}

<div class="row heading">
    <div class="twelve columns">
        <h1>FAQ</h1>
    </div>
</div>

<div id="faq" class="row">
    <div class="twelve columns">
        <h3>When is the class taught?</h3>
        <p>
            The class is taught every Tuesday, from 7pm to 10pm. We won't always take up the entirety of that time with a lecture, but we will be around to answer questions afterwards.
        </p>
        <h3>Where does the class meet?</h3>
        <p>
            The class will meet in the study room in Arrillaga dining hall.
        </p>
        <h3>What is going to be covered?</h3>
        <p>
            You can look at the <a href="#curriculum">broad curriculum</a> above, and we'll also be releasing a week-to-week schedule.
        </p>
        <h3>Are there pre-requisites?</h3>
        <p>
            We ask that you've taken at least CS106A, or the equivalent. Because of the short amount of time we have, we're going to focus more on web application specifics rather than general programming skills. <br /> <br />
            If you've done the JavaScript and Python courses on <a href="http://www.codecademy.com/">Codecademy</a>, then you're in good shape.
        </p>
        <h3>Are all of the lectures mandatory?</h3>
        <p>
            They are all strongly recommended. You'll definitely get the best experience and skills by attending them all.
        </p>
        <h3>Who is teaching the class?</h3>
        <p>
            Check out the <a href="#team">team.</a>
        </p>
    </div>
</div>

<div class="row heading">
    <div class="twelve columns">
        <h1>Teachers</h1>
    </div>
</div>

<div id="team" class="row">
    <div class="four columns">
        <img src="https://sphotos-a.xx.fbcdn.net/hphotos-ash4/281314_2027095871144_5512365_n.jpg" />
        <h4>Charlie Guo</h4>
        <img src="http://www.kennykao.com/images/projects/palantir-logo.jpg" />
    </div>
    <div class="four columns">
        <img src="https://sphotos-b.xx.fbcdn.net/hphotos-ash4/223713_4228515075863_784283845_n.jpg" />
        <h4>Kevin Xu</h4>
        <img src="http://www.plugandplaytechcenter.com/sites/default/files/styles/partner-default/public/felicis%20ventures.png" />
    </div>
    <div class="four columns">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c66.8.414.414/s160x160/282093_1660534712925_7292021_n.jpg" / style="width:100%">
        <h4>Kingston Tam</h4>
        <img src="http://vanbrabsongallery.com/yahoo_site_admin/assets/images/square_logo_landscape.17563948_std.png" />
    </div>
</div>

<footer class="row">
    <div class="twelve columns">
        &copy; Cardinal Web Dev 2013
    </div>
</footer> #}

{% endblock %}

{% block javascript %}{% endblock %}
