{% extends "base.html" %}
{% block title %}Log In | {{ super() }}{% endblock %}
{% block content %}

<div id="title" class="row">
    <div class="five columns centered text-center">
        <h2 class="red">Welcome</h2>
    </div>
</div>

<div id="login" class="row">
    <div class="five columns centered">
        <form action="{% url login %}" method="post">{% csrf_token %}

            {{ form|safe }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="success button" type="submit" value="Log In" />

        </form>

    </div>
</div>

{% endblock %}