{% extends "base.html" %}
{% block title %}Application Review | {{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}
<style type="text/css">

    #review .row { width: 99%; }
    #review #title { margin: 30px 0 15px; }
    #review #title h1 { font-size: 40px; }

    #review h4, #review td, #review p, #review form, #review label, #review textarea {
        font-size: 13px;
    }

    #review h4 {
        margin: 0;
    }

    #review #expandall {
        float: right;
        margin-top: -48px;
    }

    #review .basics p {
        line-height: 1.25;
        margin-top: 3px;
    }

    #review tr:hover {
        background-color: whiteSmoke;
        cursor: pointer;
    }

    #review form {
        cursor: default;
    }

    #review form, #review textarea, #review form p {
        margin-top: 10px;
        margin-bottom: 0;
    }

    #review label {
        display: inline-block;
    }

    #review textarea {
        width: 140px;
        min-height: 180px;
    }

    #review .interest, #review .background, #review .comments {
        width: 230px;
    }

    #review .editor {
        width: 160px;
    }

    #review .ajaxFired {
        font-weight: 900;
    }

    #review .total {
        font-weight: 900;
        text-align: center;
    }

</style>

{% endblock %}

{% block bodyid %}review{% endblock %}
{% block content %}

<div id="title" class="row">
    <div class="twelve columns text-center">
        <h1 class="red">Application Review ({{ apps|count }})</h1>
        <button id="expandall" class="button">Expand All</button>
    </div>
</div>

<div class="row">
    <table class="twelve">
        <thead>
            <tr>
                <th>Basics</th>
                <th>Go?</th>
                <th>Interest</th>
                <th>Background</th>
                <th>Comments</th>
                <th class="charlie editor">Charlie</th>
                <th class="kevin editor">Kevin</th>
                <th class="kingston editor">Kingston</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for app in apps %}
                <tr id="app-{{ app.id }}">
                    <td class="basics">
                        <h4>{{ app.application.name }}</h4>
                        <p>
                            {{ app.application.major }}<br/>
                            {{ app.application.email }}
                        </p>
                    </td>
                    <td class="attendance">
                        {% if app.application.attendance %}
                            <span class="label success round">Yes</span>
                        {% else %}
                            <span class="label alert round">No</span>
                        {% endif %}
                    </td>
                    <td class="interest">
                        <div class="compressed">
                            {{ app.application.interest|truncate(50)|linebreaks }}
                        </div>
                        <div class="expanded hidden">
                            {{ app.application.interest|linebreaks }}
                        </div>
                    </td>
                    <td class="background">
                        <div class="compressed">
                            {{ app.application.background|truncate(50)|linebreaks }}
                        </div>
                        <div class="expanded hidden">
                            {{ app.application.background|linebreaks }}
                        </div>
                    </td>
                    <td class="comments">
                        <div class="compressed">
                            {{ app.application.comments|truncate(50)|linebreaks }}
                        </div>
                        <div class="expanded hidden">
                            {{ app.application.comments|linebreaks }}
                        </div>
                    </td>
                    <td class="charlie editor">
                        {% if app.charlie_decision == -2 %}
                            <span class="label round alert text-center">Highly Reject</span>
                        {% elif app.charlie_decision == -1 %}
                            <span class="label round alert text-center">Reject</span>
                        {% elif app.charlie_decision == 0 %}
                            <span class="label round secondary text-center">Unsure</span>
                        {% elif app.charlie_decision == 1 %}
                            <span class="label round success text-center">Accept</span>
                        {% elif app.charlie_decision == 2 %}
                            <span class="label round success text-center">Highly Accept</span>
                        {% endif %}

                        <form action="{% url submit_review %}" class="expanded hidden" method="POST"> {% csrf_token %}
                            <input type="hidden" name="application" value="{{ app.id }}" />
                            <input type="hidden" name="editor" value="charlie" />
                            <input type="radio" name="decision" value="-2" id="charlie_decision_-2_{{ app.id }}"
                            {% if app.charlie_decision == -2 %}checked{% endif %}>
                            <label for="charlie_decision_-2_{{ app.id }}">Highly Reject</label><br/>
                            <input type="radio" name="decision" value="-1" id="charlie_decision_-1_{{ app.id }}"
                            {% if app.charlie_decision == -1 %}checked{% endif %}>
                            <label for="charlie_decision_-1_{{ app.id }}">Reject</label><br/>
                            <input type="radio" name="decision" value="0" id="charlie_decision_0_{{ app.id }}"
                            {% if app.charlie_decision == 0 %}checked{% endif %}>
                            <label for="charlie_decision_0_{{ app.id }}">Unsure</label><br/>
                            <input type="radio" name="decision" value="1" id="charlie_decision_1_{{ app.id }}"
                            {% if app.charlie_decision == 1 %}checked{% endif %}>
                            <label for="charlie_decision_1_{{ app.id }}">Accept</label><br/>
                            <input type="radio" name="decision" value="2" id="charlie_decision_2_{{ app.id }}"
                            {% if app.charlie_decision == 2 %}checked{% endif %}>
                            <label for="charlie_decision_2_{{ app.id }}">Highly Accept</label>
                            <textarea name="comments">{{ app.charlie_comments }}</textarea>
                            <p class="ajaxFired"></p>
                        </form>
                    </td>
                    <td class="kevin editor">
                        {% if app.kevin_decision == -2 %}
                            <span class="label round alert text-center">Highly Reject</span>
                        {% elif app.kevin_decision == -1 %}
                            <span class="label round alert text-center">Reject</span>
                        {% elif app.kevin_decision == 0 %}
                            <span class="label round secondary text-center">Unsure</span>
                        {% elif app.kevin_decision == 1 %}
                            <span class="label round success text-center">Accept</span>
                        {% elif app.kevin_decision == 2 %}
                            <span class="label round success text-center">Highly Accept</span>
                        {% endif %}

                        <form action="{% url submit_review %}" class="expanded hidden" method="POST"> {% csrf_token %}
                            <input type="hidden" name="application" value="{{ app.id }}" />
                            <input type="hidden" name="editor" value="kevin" />
                            <input type="radio" name="decision" value="-2" id="kevin_decision_-2_{{ app.id }}"
                            {% if app.kevin_decision == -2 %}checked{% endif %}>
                            <label for="kevin_decision_-2_{{ app.id }}">Highly Reject</label><br/>
                            <input type="radio" name="decision" value="-1" id="kevin_decision_-1_{{ app.id }}"
                            {% if app.kevin_decision == -1 %}checked{% endif %}>
                            <label for="kevin_decision_-1_{{ app.id }}">Reject</label><br/>
                            <input type="radio" name="decision" value="0" id="kevin_decision_0_{{ app.id }}"
                            {% if app.kevin_decision == 0 %}checked{% endif %}>
                            <label for="kevin_decision_0_{{ app.id }}">Unsure</label><br/>
                            <input type="radio" name="decision" value="1" id="kevin_decision_1_{{ app.id }}"
                            {% if app.kevin_decision == 1 %}checked{% endif %}>
                            <label for="kevin_decision_1_{{ app.id }}">Accept</label><br/>
                            <input type="radio" name="decision" value="2" id="kevin_decision_2_{{ app.id }}"
                            {% if app.kevin_decision == 2 %}checked{% endif %}>
                            <label for="kevin_decision_2_{{ app.id }}">Highly Accept</label>
                            <textarea name="comments">{{ app.kevin_comments }}</textarea>
                            <p class="ajaxFired"></p>
                        </form>
                    </td>
                    <td class="kingston editor">
                        {% if app.kingston_decision == -2 %}
                            <span class="label round alert text-center">Highly Reject</span>
                        {% elif app.kingston_decision == -1 %}
                            <span class="label round alert text-center">Reject</span>
                        {% elif app.kingston_decision == 0 %}
                            <span class="label round secondary text-center">Unsure</span>
                        {% elif app.kingston_decision == 1 %}
                            <span class="label round success text-center">Accept</span>
                        {% elif app.kingston_decision == 2 %}
                            <span class="label round success text-center">Highly Accept</span>
                        {% endif %}

                        <form action="{% url submit_review %}" class="expanded hidden" method="POST"> {% csrf_token %}
                            <input type="hidden" name="application" value="{{ app.id }}" />
                            <input type="hidden" name="editor" value="kingston" />
                            <input type="radio" name="decision" value="-2" id="kingston_decision_-2_{{ app.id }}"
                            {% if app.kingston_decision == -2 %}checked{% endif %}>
                            <label for="kingston_decision_-2_{{ app.id }}">Highly Reject</label><br/>
                            <input type="radio" name="decision" value="-1" id="kingston_decision_-1_{{ app.id }}"
                            {% if app.kingston_decision == -1 %}checked{% endif %}>
                            <label for="kingston_decision_-1_{{ app.id }}">Reject</label><br/>
                            <input type="radio" name="decision" value="0" id="kingston_decision_0_{{ app.id }}"
                            {% if app.kingston_decision == 0 %}checked{% endif %}>
                            <label for="kingston_decision_0_{{ app.id }}">Unsure</label><br/>
                            <input type="radio" name="decision" value="1" id="kingston_decision_1_{{ app.id }}"
                            {% if app.kingston_decision == 1 %}checked{% endif %}>
                            <label for="kingston_decision_1_{{ app.id }}">Accept</label><br/>
                            <input type="radio" name="decision" value="2" id="kingston_decision_2_{{ app.id }}"
                            {% if app.kingston_decision == 2 %}checked{% endif %}>
                            <label for="kingston_decision_2_{{ app.id }}">Highly Accept</label>
                            <textarea name="comments">{{ app.kingston_comments }}</textarea>
                            <p class="ajaxFired"></p>
                        </form>
                    </td>
                    <td class="total">{{ app.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascript %}

<script src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('table').tablesorter({
            textExtraction: function(node) {
                if ($(node.childNodes[1]).is('span.label')) {
                    return node.childNodes[1].innerHTML;
                } else {
                    return node.innerHTML;
                }
            }
        });

        $('#expandall').click(function(e) {
            e.preventDefault();
            var text = $(this).text();
            if (text === "Expand All") {
                $(this).text("Collapse All");
            } else if (text === "Collapse All") {
                $(this).text("Expand All");
            }
            $('tbody tr').each(function(index, element) {
                var anchor = $(element);
                anchor.find('.compressed').toggleClass('hidden');
                anchor.find('.expanded').toggleClass('hidden');
            });
        });

        $('tbody tr').each(function(index, element) {
            var anchor = $(element);
            anchor.click(function(e) {
                if (!$(e.srcElement).is('form, input, label, textarea, a.button')) {
                    anchor.find('.compressed').toggleClass('hidden');
                    anchor.find('.expanded').toggleClass('hidden');
                }
            });

            anchor.find('input').click(function() {
                ajaxSubmit($(this));
            });

            var timeout;
            anchor.find('textarea').on('textchange', function() {
                clearTimeout(timeout);
                var self = $(this);
                var status = self.parent().find('.ajaxFired');
                status.text('Typing...');
                timeout = setTimeout(function() {
                    ajaxSubmit(self);
                    status.text('Saved');
                }, 800);
            });

            anchor.find('textarea').on('blur', function() {
                var self = $(this);
                ajaxSubmit(self);
                self.parent().find('.ajaxFired').text('Saved');
            });

            var ajaxSubmit = function(self) {
                var span = self.parent().prev();
                var status = self.parent().find('.ajaxFired');
                var total = anchor.find('.total');
                $.ajax({
                    type: 'POST',
                    url: '/submit_review/',
                    data: self.parent().serialize(),
                    success: function(data) {
                        span.removeClass('secondary alert success');
                        if (data['decision'] == -2) {
                            span.addClass('alert').text('Highly Reject');
                        } else if (data['decision'] == -1) {
                            span.addClass('alert').text('Reject');
                        } else if (data['decision'] == 0) {
                            span.addClass('secondary').text('Unsure');
                        } else if (data['decision'] == 1) {
                            span.addClass('success').text('Accept');
                        } else if (data['decision'] == 2) {
                            span.addClass('success').text('Highly Accept');
                        }
                        status.text('Saved');
                        total.text(data['total']);
                        $('table').trigger('update');
                    }
                });
            };
        });
    });
</script>
{% endblock %}