{% extends "base.html" %}
{% block title %}Students | {{ super() }}{% endblock %}
{% block meta_description %}Web development crash course in 9 weeks. You will learn how to build your own website with HTML, Javascript, and Python.{% endblock %}

{% block extra_head %}

<style class="text/css">
  .row {
    margin-bottom: 30px;
  }


/*  .th-inner {
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
  }

  .student-info .th {
    height: 200px;
    width: 200px;
    overflow: hidden;
  }

  .th {
    display: block;
    border: solid 4px #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
  }

  .th img {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
  }*/

  .polaroid {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #A1A1A1;
    -moz-box-shadow:    0px 2px 7px 0px #444;
    -webkit-box-shadow: 0px 2px 7px 0px #444;
    box-shadow:         0px 2px 7px 0px #444;
  }

  .rotate {
    -webkit-transform: rotate(-1.8deg);
    -moz-transform: rotate(-1.8deg);
    -ms-transform: rotate(-1.8deg);
    -o-transform: rotate(-1.8deg);
  }

.bounce {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s;
}

@-webkit-keyframes bounce {
    to {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    }
}

@-moz-keyframes bounce {
    0% { -moz-transform: scale(1.1); opacity: 1 }
    50% { -moz-transform: scale(1.6); opacity: .7; }
    60% { -moz-transform: scale(0.6); opacity: 1 }
    80% { -moz-transform: scale(0.95) }
    100% { -moz-transform: scale(0.85) }
}

@-o-keyframes bounce {
    0% { -o-transform: scale(1.1); opacity: 1 }
    50% { -o-transform: scale(1.6); opacity: .7; }
    60% { -o-transform: scale(0.6); opacity: 1 }
    80% { -o-transform: scale(0.95) }
    100% { -o-transform: scale(0.85) }
}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.6); opacity: .7; }
    60% { transform: scale(0.6); opacity: 1 }
    80% { transform: scale(0.95) }
    100% { transform: scale(0.85) }
}

</style>

{% endblock %}

{% block content %}


<div id="title" class="row">
  <div class="twelve columns text-center">
    <h1 class="red">Our Students</h1>
  </div>
</div>

{% for student_batch in students|batch(4) %}
  <div class="row">
    {% for student in student_batch %}
      <div class="three columns">

        <div class="polaroid rotate">

          <a href="{{ student.absolute_url() }}">
            <img src="{% if student.photo %}{{ student.photo }}{% else %}http://placehold.it/300x300{% endif %}" />
            <h3 class="student-name">{{ student.name }}</h3>
            <div class="student-bio">{{ student.bio }}</div>
          </a>

        </div>

      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}

{% block javascript %}{% endblock %}